.wrapper{
	border-width: 4px;
	border-color: grey;
	border-style: solid;
	width: 530px;
	height: 360px;
	position: relative;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
}

.keyboard{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	line-height: 40px;
}

.screen{
	padding-left: 20px;
	padding-right: 20px;
}

.result{
	border-width: 2px;
	border-style: solid;
	height:50px;
	width:460px;
	margin-top: 10px;
	margin-left: 10px;
	padding-right: 20px;
	justify-content: space-between;
	font-size: 45px;
	font-family: sans-serif;
	direction: rtl;

}


.firstrow{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
}
.secondrow{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;

}
.thirdrow{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
}
.forthrow{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
}
.fifthrow{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
}

.number{
	display: inline-block;
	border-style: solid;
	height:40px;
	width:100px;
	margin-top: 10px;

}

.operator{
	display: inline-block;
	border-style: solid;
	height:40px;
	width:100px;
	margin-top: 10px;
}

#equal{
	width:225px;
}