.wrapper{
	position: relative;
	width:600px;
	height: 1200px;
	top:-100px;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	background:white;
}

.main{
	padding-left: 6%;
	padding-right:20px;
	line-height: 1.8em;
}

.warning{
	font-size: 0.8em;
	color: red;
}

.header1 > p{
	font-size: 15px;

}

.orange{
	background-color: orange;
	height:10px;
}

body{
	margin:0;
	font-family: sans-serif;
	background-color: #fff3e0;
}

.backgroundAll {
  background: #fff3e0;
}

.backgroudTop {
  width: 100%;
  height: 150px;
  background: url(https://lh4.googleusercontent.com/sAvtic6WzLRcGC485d2irc6Q36VS9GaiIj2TjL9AkbD1t3RjwacfNkJmmUe9fh9c0WV-ZVKQcw=w1200);
  background-size: cover;
}

span {
	color: red;
}



.formblock{
	margin-bottom: 15px;
}

.active{
	background-color: pink;
}

.display{
	visibility: 'hidden'
}